//nexus.asiic.cn/repository/npm-asiic/:_auth=
//nexus.asiic.cn/repository/npm-asiic/:always-auth=true
# registry=https://registry.npmmirror.com
registry=https://nexus.asiic.cn/repository/npm-all/
save-exact=true
